

.body{
    background-color:#54ADDC;
    overflow: hidden;
    -moz-transform-origin: left top;
/*    width: 640px;
    height: 960px;*/
/*    min-height:100%;
    min-width: 100%;*/
}
.game_scene{
    width: 640px;
    height: 960px;
    position:relative;
    /*position:absolute;*/
    margin: 0 auto;
    align:center;
    text-align:center;
    font-family: Impact, sans-serif;
}

.game_ui{
    color:white;
}

.view_bk{
    margin: 0 auto;
    background-color:#EEEEFF;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 0 11px 20px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 11px 20px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 11px 20px rgba(0,0,0,0.25);
    position:relative;
}

.view_bt{
    cursor:pointer;
    position:absolute;
    font-family: sans-serif;
    line-height:80px;
    width: 180px;
    height: 80px;
    font-size:30px;
    border-radius:15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color:#54ADDC;
    color:white;
}

.view_text{
    padding:5px 25px;
    text-align:left;
    line-height:18px;
    font-family: Calibri, sans-serif;
    font-size:18px;
    color:#077DBB;
}

.view_title{
    margin: 0 auto;
    font-size:60px;
    color: red;
    position:relative;
}


.title{
    line-height: 50px;
    font-size:50px;
}

.score{
    font-size:40px;
    color:#077DBB;
}

.stat{
    line-height: 20px;
    font-family: Arial,sans-serif;
    font-weight:200;
    font-size:15px;
}

.grid{
    position:absolute;
    width: 90px;
    height: 90px;
}

.brick_x{
    position:relative;
    top:7.5px;
}


.brick_back{
    position:absolute;
    font-size:60px;
    top:50%;
    color: white;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.click_tip{
    width: 90;
    height: 90;
    position:absolute;
    z-index: 31;
}

.button_option{
    cursor:pointer;
    font-weight:100;
    left: 560px;
    top:90px;
    position:absolute;
    width: 70px;
    height: 70px;
}

.button_tut{
    cursor:pointer;
    position:absolute;
    width: 50px;
    height: 50px;
    left: 571px;
    top:30px;
    line-height: 55px;
    border-radius: 35px;
    background-color:white;
    color: #54ADDC;
    font-family: sans-serif;
    font-size:45px;
}


.pause_back{ 
    margin: 0 auto;
    top: -60px;
    height:750px; 
    width:500px; 
} 

.tut_title{
    top:-800px;
    z-index:1000;
}

.st_ask_bg{
    height: 250px; 
    width:450px; 
    top: 250px;
    left:95px;
    position:absolute;
    z-index:50;
}

.st_ask_words{
    padding:47px 45px;
}

.st_bt{
    line-height:50px;
    width: 130px;
    height: 50px;
    top: 160px;
    font-size:35px;
}



.st_text{
    height: 140px; 
    width:400px;
    top:480px;
    left:100px;
    z-index:50;
}

.view_target{
    height: 450px; 
    width:340px; 
    top: 80px;
    z-index:50;
}

.vt_cys{
    margin: 0 auto;
    font-size:23px;
    top:50px;
    padding: 22px;
    color: #077DBB;
    position:relative;
}

.vt_100{
    margin: 0 auto;
    font-size:90px;
    top:40px;
    color: red;
    position:relative;
    font-family:Impact, sans-serif;
}

.vt_bt{
    top: 320px;
    left:90px;
}

.vt_ixm{
    margin: 0 auto;
    font-size:30px;
    top:40px;
    color: #077DBB;
    position:relative;
}

.tut_load{
    font-size:30px;
    text-align:center;
    top:400px;
    left: 0px;
    color: #077DBB;
    position:relative;
    z-index:1000;
}

.bt_sns{
    position:absolute;
    cursor:pointer;
}

.paypal_back{
    height: 480px; 
    width:380px; 
    top: 75px;
    z-index:50;
}

.paypal_words{
/*    margin: 0 auto;
    text-align: left;*/
    padding:12px 25px;
/*    line-height: 20px;
    font-size: 18px;
    font-family: Calibri, sans-serif;*/
/*    color: #077DBB;*/
}

.paypal_list{
/*    margin: 0 auto;*/
    top: 220px;
    left:90px;
    position: absolute;
/*    z-index:50;*/
}

.paypal_bt{
    line-height:50px;
    width: 130px;
    height: 50px;
    top: 290px;
    left:120px;
    font-size:25px;
}

.paypal_bt_cancel{
    cursor:pointer;
    position:absolute;
    width: 130px;
    height: 50px;
    top: 380px;
    left:120px;
    font-size:25px;
    background-color:#EEEEFF;
    color:#54ADDC;
}

body, canvas, div {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}