

.body{
    background-color:#54ADDC;
    overflow: hidden;
    -moz-transform-origin: left top;
}
.game_scene{
    width: 640px;
    height: 960px;
    position:relative;
    opacity: 1;
    margin: 0 auto;
    align:center;
    text-align:center;
    font-family: Impact, sans-serif;
}
/*preload*/
@media screen {
    div#preloader {
            position: absolute;
            left: -9999px;
            top:  -9999px;
        }
    div#preloader img {
            display: block;
        }
    }
@media print {
    div#preloader, 
    div#preloader img {
            visibility: hidden;
            display: none;
        }
    }
    
.game_ui{
    color:white;
}

.view_bk{
    margin: 0 auto;
    background-color:#ecf7fd;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 11px 20px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 11px 20px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 11px 20px rgba(0,0,0,0.25);
    position:relative;
}

.view_bt{
    cursor:pointer;
    position:absolute;
    font-family: sans-serif;
    line-height:53px;
    width: 130px;
    height: 50px;
    font-size:20px;
    border-radius:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color:#1aa7f2;
    color:white;
}

.view_ti2{
    margin: 0 auto;
    padding:5px 20px;
    text-align:center;
    line-height:20px;
    font-family: Helvetica, sans-serif;
    font-size:18px;
    color:#0292e0;
}

.view_text{
    margin: 0 auto;
    padding:5px 30px 0px 30px;
    text-align:left;
    line-height:22px;
    font-family: Helvetica, sans-serif;
    font-size:14px;
    color:#1aa7f2;
}

.view_text_common{
    margin: 0 auto;
    padding:5px 30px 0px 30px;
    text-align:left;
    line-height:0px;
    font-family: Helvetica, sans-serif;
    font-size:14px;
    color:#1aa7f2;
}

.view_text1{
    color: #397fa4;
}

.view_title{
    margin: 0 auto;
    font-size:60px;
    color: red;
    position:relative;
}


.title{
    line-height: 50px;
    font-size:50px;
    
}

.score{
    font-size:40px;
    color:#FFFFFF;
}

.stat{
    line-height: 20px;
    font-family: Arial,sans-serif;
    font-weight:200;
    font-size:15px;
    color:#077DBB;
}

.grid{
    position:absolute;
    width: 91px;
    height: 91px;
}

.brick_x{
    position:relative;
    top:7.5px;
}


.brick_back{
    position:absolute;
    font-size:60px;
    top:50%;
    color: white;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.click_tip{
    width: 90;
    height: 90;
    position:absolute;
    text-align: center;
    z-index: 31;
}

.button_option{
    cursor:pointer;
    font-weight:100;
    left: 560px;
    top:90px;
    position:absolute;
    width: 70px;
    height: 70px;
}

.button_tut{
    cursor:pointer;
    position:absolute;
    width: 50px;
    height: 50px;
    left: 571px;
    top:30px;
    line-height: 55px;
    border-radius: 35px;
    background-color:white;
    color: #54ADDC;
    font-family: sans-serif;
    font-size:45px;
}

.contact{
    position: absolute;
    font-family: sans-serif;
    text-align: left;
    font-size: 11px;
    color: #90d4f8;
    line-height: 18px;
    left: 20px;
    top: 820px;
/*     width: 600px; */
}

.ack{
    cursor:pointer;
    line-height: 14px;
    width: 600px;
    position: absolute;
    font-family: sans-serif;
    text-align: left;
    left: 20px;
    top: 785px;
}

.pause_back{ 
    margin: 0 auto;
    top: 100px;
    height:320px; 
    width:500px; 
} 

.pause_text{
    text-align:center;
    color: #09C;
    font-size: 18px;
}

.pause_tb{
    width: 340px;
    top: 50px;
    position: relative;
    margin: 0 auto;
}

.pause_share_parent{
    margin: 0 auto;
/*     left: 70px; */
}
.pause_share{
    position: relative;
    float: left;
    left: 0px;
    width: 280px;
    height: 30px;
}

.tut_title{
    top:-800px;
    z-index:1000;
}

.st_ask_bg{
    height: 250px; 
    width:450px; 
    top: 300px;
    left:95px;
    position:absolute;
    z-index:50;
}

.st_ask_words{
    padding:47px 45px;
}

.st_bt{
    top: 160px;
}



.st_text{
    height: 140px; 
    width:400px;
    top:480px;
    left:100px;
    z-index:50;
}

.view_target{
    height: 400px; 
    width:320px; 
    top: 100px;
    z-index:50;
}

.vt_cys{
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    padding: 25px 40px 20px 40px;
    position:relative;
}

.vt_cys1{
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    padding: 25px 40px 20px 40px;
    position:relative;
}

.vt_100{
    margin: 0 auto;
    font-size:60px;
/*     top:0px; */
    color: red;
    position:relative;
    font-family:Impact, sans-serif;
}

.vt_bt{
    width: 200px;
    height: 60px;
    line-height: 60px;
    top: 280px;
    left:61px;
}


.tut_load{
    font-size:30px;
    text-align:center;
    top:400px;
    left: 0px;
    color: #077DBB;
    position:relative;
    z-index:1000;
}

.bt_sns{
    position:absolute;
    cursor:pointer;
}

.paypal_back{
    height: 480px; 
    width:380px; 
    top: 55px;
    z-index:50;
}

.paypal_words{
    padding:35px 30px;
}

.paypal_list{
/*    margin: 0 auto;*/
    top: 250px;
    left:90px;
    position: absolute;
/*    z-index:50;*/
}

.paypal_bt{
/*     width: 130px;
    height: 50px; */
    top: 320px;
    left:120px;
}

.paypal_bt_cancel{
    cursor:pointer;
    position:absolute;
    font-family: sans-serif;
    width: 130px;
    height: 50px;
    top: 400px;
    left:120px;
    font-size:25px;
    background-color:#ecf7fd;
    color:#54ADDC;
}

.fb_bt{
    position: relative;
   left:95px;
    top: 20px;
    margin:15px 25px;
}

.fb_bt_mo{
    position: relative;
   left:50px;
    margin:15px 25px;
}

.like-block-only-button {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 0px;
    padding: 2px;
}

.share_buttons_div{
    position: absolute;
    left: 420px;
    top: 805px;
}

.like-button {
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: middle;
/*     padding: 8px 14px 10px; */
    cursor:pointer; 
}

.like-button:hover {
    color:#dfe7ea;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}


body, canvas, div {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}